@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    --token-d96b7449-cae7-4cc6-bfb2-11bf61bc3a2c: rgb(255, 255, 255);
    --token-90009f0d-1dfe-4745-8bcd-4da680617d75: rgb(255, 239, 212);
    --token-e8656d29-b39b-46b2-b769-e5756ee8643c: rgb(59, 59, 59);
    --token-cccd0bff-14ea-4f9e-b27d-1a6e98a0a662: rgb(0, 0, 0);
    --token-23f4807e-2c5e-45d2-8e0b-2edac7d7ee50: rgb(103, 17, 194);
    --token-bc3a90d8-c0d4-4c0e-a9f0-f58c9c00d476: rgb(169, 77, 255);
    --token-cf4a0ed7-d641-4dce-b3a2-a21e3c26e593: rgb(216, 186, 245);
    --token-c93d57e4-6e34-4a0f-a81c-1ad4bec461fd: rgb(18, 18, 18);
    --token-119baad6-7e88-46c9-85cb-186b0514575e: rgba(158, 158, 158, .16);
    --token-46b64783-4170-4eb8-b06a-5c91423bb67d: rgb(10, 10, 10);
    --token-d78b46ee-8204-4e28-96cf-cf92b88d3d9b: rgb(0, 0, 0);
    --token-88e43fb9-0add-463b-a66e-bb42cefae826: rgb(253, 140, 61);
    --token-731fec86-647e-439a-b806-afac51b14833: rgba(255, 255, 255, .9);
    --token-c46ba434-1ced-4b59-87af-2a7d1fe743f9: rgba(255, 255, 255, .5);
    --token-db77dfb2-40af-4ea5-9652-6ae35ec05115: rgba(158, 158, 158, .16);
    --token-bd6feee2-1803-4489-9294-ed51d4c0f341: rgb(10, 10, 10);
    --token-4ab21793-1df9-4066-8fc3-c7aeff77d35e: rgb(0, 0, 0);
    --token-5d5e7bf2-809a-4673-b715-b38000f8b82c: rgba(158, 158, 158, .16);
    --token-8ace2953-72ad-4ba7-902b-9587a6a705b2: rgb(10, 10, 10);
    --token-241486d5-3298-4b06-b25b-9cf4c941394c: rgb(0, 0, 0);
    --token-b18bb674-af19-45cb-a872-5cf99fb99893: rgb(30, 26, 28);
    --token-ab7cbed8-14c5-4016-8d8b-eec68f032345: rgb(54, 52, 53);
    --token-ac96d51d-e916-4a4c-9b51-ebda6bb47cce: rgb(188, 189, 191);
    --token-7435e88f-7110-4a41-b5c5-15c94bce816a: rgb(30, 26, 28);
    --token-51fc5e61-2902-4bba-9459-7fc18ea1e36e: rgb(255, 255, 255);
    --token-1b2e0159-3150-4d5b-8c9d-596d96b64233: rgb(128, 128, 128);
}
@layer utilities {
  .shadow-glow {
    text-shadow: 0 0 8px rgba(236, 72, 153, 0.6);
  }
}